<nav class="navbar navbar-expand-lg bg-dark-subtle">
  <div class="container">
    <div>
      <i class="bi bi-book" style="margin-right: 0.5rem"></i>
      <a class="navbar-brand" href="#">{{ brandName }}</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let navLink of routerArray">
          <a
            class="nav-link"
            [ngClass]="{ active: navLink === homePage }"
            aria-current="page"
            href="#"
            >{{ navLink }}</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <div class="form-group has-search me-2">
          <i class="bi bi-search search-icon"></i>
          <input
            type="search"
            aria-label="Search"
            class="form-control"
            placeholder="{{ searchbarPlaceholder }}"
          />
        </div>

        <button class="btn btn-success" type="submit">
          {{ searchCTA }}
        </button>
      </form>
    </div>
  </div>
</nav>
